body {
  background: rgb(19, 19, 19);
  color: #fff;
  padding: 1rem;
}

.row-between {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.row-center {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.m-1 {
  margin: 1rem;
}

.mr-1 {
  margin-right: 14px;
}

.mt-10p {
  margin-top: 10px;
}

.mr-2 {
  margin-right: 28px;
}

.ml-05 {
  margin-left: 5px;
}

.mt-4 {
  margin-top: 56px;
}
